<div class="row mb-3">
  <div class="col-lg-8 offset-lg-2">
    <%= form_with model: [board, comment], remote: true, class: "needs-validation" do |f|  %>
      <%= f.label :body, 'コメント' %>
      <%= f.text_area :body, id: 'js-new-comment-body', class: 'form-control mb-3', rows: 4  %>
      <%= f.submit class: 'btn btn-primary', type:'submit', name:'commit', value:'投稿' %>
    <% end %> 
  </div>
</div>