<ul class='crud-menu-btn list-inline float-right'>
  <li class="list-inline-item">
    <% if board.bookmark_by?(current_user) %>
      <%= render 'unbookmark', board: board %>
        <% else %>
      <%= render 'bookmark', board: board %>
    <% end %>
  </li>
</ul>
